.userPhoto{
  width: 130px;
  height: 130px;
  border-radius: 50px;
}


.selectedPage {
  color: rgb(208, 255, 0);
  font-size: xx-large;
}



.pagesList{
  margin-left: 294px;
  position: fixed;
  left: 1; bottom: 0;
  padding: 10px;
  font-size: x-large;
}

.buttonsArea button{
  
  
  margin-left: 10px;
  margin-right: 10px;
}