

   


.postBlock h3{
    margin-left: 400px;
    padding-top: 20px;
}
.textarea textarea{
    margin-left: 300px;
    width: 272px;
    height: 82px;
}
.button{
    margin-left: 300px; 
}
.posts{
    margin-left: 20px;
}